<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>320004065461-kfjqo9ctf9cj4knn2se3gkqibav4f94i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.320004065461-kfjqo9ctf9cj4knn2se3gkqibav4f94i</string>
	<key>API_KEY</key>
	<string>AIzaSyBv97HHpBNHRSqPft2e4qYU1mN9_6udhzs</string>
	<key>GCM_SENDER_ID</key>
	<string>320004065461</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Lukash.Mate</string>
	<key>PROJECT_ID</key>
	<string>mates-ec275</string>
	<key>STORAGE_BUCKET</key>
	<string>mates-ec275.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:320004065461:ios:8489be44e801e6a309d6fc</string>
</dict>
</plist>